#ChatBox {
    position: absolute;
    padding-width: 13.19%;
    height: 12.69%;
    right: 57.57%;
    bottom: 64.36%;
    filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.25));
    z-index: 1;
}
#CenterProfile {
    position: absolute;
    padding-width: 29.8%;
    height: 33.2%;
    left: 38.19%;
    right: 38.19%;
    top: 33.4%;
    bottom: 33.4%;
    border-radius: 50%;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}
img.Bar {
    position: absolute;
    padding-width: 19.44%;
    height: 5.86%;
    left: 40.28%;
    right: 40.28%;
    bottom: 23.63%;
    filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.25));
    z-index: 1;
}
p.Bar{
    position: absolute;
    right: 45.85%;
    left: 45.85%;
    bottom: 24.80%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 1000;
    font-size: 100%;
    text-align: center;
    line-height: 0%;

    color: #000000;
    z-index: 2;
}

#MusicBox {
    position: absolute;
    padding-width: 4.17%;
    height: 5.86%;
    right: 2.78%;
    top: 3.91%;
    z-index: 1;
}
body {
    background-image: url("assets/background.png");
    width: 100%;
    height: 200%;
    background-size: cover;
    z-index: 0;
}